.NormaListaCard {
    text-align: center;
    overflow: auto;
    white-space: nowrap;
}

.NormaListaCard.NormaListaBusca {
    white-space: normal;
}

.NormaListaCard .NormaCard {
    margin-right: var(--spacing-size-main);
}