.NormaCard {
    display: block;
    width: 120px;
    height: 250px;
    overflow: hidden;
}

.NormaCard img {    
    border-radius: var(--border-radius-images);
    margin-bottom: var(--spacing-size-half);
}

.NormaCard p.NormaEpigrafe {
    font-size: var(--font-size-tiny);
    color: var(--text-color-faded);
    margin-bottom: var(--spacing-size-half);
}

.NormaCard p.NormaEmenta {
    font-size: var(--font-size-small);
    color: var(--text-color-reverse);
}