.NormaCard {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    text-decoration: none;
    margin-bottom: var(--spacing-size-main);
}

.NormaCard img {
    border-radius: var(--border-radius-images);
    margin-bottom: var(--spacing-size-half);
    width: 100%;
}

.NormaCard.NormaCardBusca {
    width: 140px;
}

.NormaCard.NormaCardBusca img {
    max-height: 60px;
}

.NormaCard p.NormaEpigrafe {
    font-size: var(--font-size-tiny);
    color: var(--text-color-faded);
    margin-bottom: var(--spacing-size-half);
    text-align: left;
}

.NormaCard p.NormaEmenta {
    font-size: var(--font-size-small);    
    white-space: normal;
    color: var(--text-color-main);
    text-align: left;
}

.NormaCard p.NormaEpigrafe {
    color: var(--text-color-faded);
}

.FundoEscuro .NormaCard p.NormaEmenta {
    color: var(--text-color-reverse);
}

.NormaCard.VejaMais {
    
}