:root {
    /* colors */
    --text-color-main: #000;
    --text-color-faded: #AAA;
    --text-color-reverse: #FFF;
    --background-color-dark: #222;
    --background-color-light: #FFF;
    --background-color-grey: #999;
    --background-color-light-grey: #AAA;
    --background-color-success: #1bb173;
    
    /* temp */
    --theme-background-color: #DEA85A;
    --theme-text-color: #DEA85A;

    /* font-sizes */
    --font-size-main: 16px;
    --font-size-title: 30px;
    --font-size-subtitle: 22px;
    --font-size-small: 14px;
    --font-size-tiny: 12px;

    /* spacings */
    --spacing-size-main: 16px;
    --spacing-size-half: 8px;
    --spacing-size-half-half: 4px;

    /* Other */
    --border-radius-inputs: 30px;
    --border-radius-sections: 20px;
    --border-radius-pills: calc(var(--spacing-size-half) * 3);
    --border-radius-images: 14px;
    --border-radius-relevantes: 10px;

    --box-shadow-inputs: 5px 5px 10px rgba(100, 100, 100, 0.3);
}

html {
    font-size: var(--font-size-main);
    color: var(--text-color-main);
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-color-dark);
}

h1.Titulo {
    font-size: var(--font-size-title);
    line-height: 1.25;
}

h2.TituloSecao {
    font-size: var(--font-size-subtitle);
    padding-top: var(--spacing-size-main);
    padding-bottom: var(--spacing-size-main);
}

.TextoCentralizado {
    text-align: center;
}

.ElementoCentralizado {
    align-self: center;
}

.BarraCurta {
    border-color: var(--text-color-main);
    width: 50px;
    border-width: 2px;
    margin: 0 0 var(--spacing-size-main);
}

.BarraCurta.BarraTema {
    border-color: var(--theme-background-color);
}

strong {
    font-weight: bold;
}

.Pill {
    color: var(--text-color-reverse);
    font-size: var(--font-size-small);
    background-color: var(--background-color-grey);
    display: inline-block;
    padding: var(--spacing-size-half) calc(var(--spacing-size-half) * 2);
    border-radius: var(--border-radius-pills);
    font-weight: bold;
    margin-right: var(--spacing-size-half);
    background-color: var(--background-color-grey);
}

.FundoEscuro .Pill {
    color: var(--text-color-reverse);
    background-color: var(--background-color-grey);
}

/* tab pills */
.react-tabs__tab-list {
    overflow: auto;
    white-space: nowrap;
    margin-bottom: var(--spacing-size-main);
}

.react-tabs__tab-list li:not(.react-tabs__tab--selected) {
    background-color: var(--background-color-light-grey);
    opacity: 0.5;
}
/* end tabs */

.Botao {
    border: 0;
    padding: var(--spacing-size-half);
    border-radius: var(--border-radius-inputs);
    background: var(--theme-background-color);
    color: var(--text-color-reverse);
}

.BotaoGrande {
    padding: calc(var(--spacing-size-half) * 1.5) var(--spacing-size-main);
    font-size: var(--font-size-main);
}

.BotaoInvertido {
    border: 2px solid var(--theme-background-color);
    background: none;
    color: var(--theme-background-color);
    font-weight: bold;
}

.LinkTema {
    color: var(--theme-text-color);
}

.QuebraPalavra {
    word-wrap: break-word;
    overflow-wrap: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}