.Institucional {
    text-align: justify;
    padding: var(--spacing-size-main);
    display: flex;
    flex-direction: column;
}

.Institucional p {
    padding: var(--spacing-size-main);
}

.Institucional .Bandeira img {
    width: 100%;
    height: auto;
    max-width: 500px
}