.Busca {
    margin-top: var(--spacing-size-main);
    margin-bottom: var(--spacing-size-main);
}
.BuscaInput {
    box-shadow: var(--box-shadow-inputs);
    border-radius: var(--border-radius-inputs);
    padding-left: var(--spacing-size-main);
    padding-right: var(--spacing-size-main);
    display: flex;
    align-items: flex-start;
}
.BuscaInput .BuscaIcone {
    flex-shrink: 1;
    align-self: center;
}

.BuscaInput input {
    background-color: transparent;
    flex-grow: 1;
    height: 100%;
    height: 40px;
    border: none;
    font-size: var(--font-size-small);
    font-weight: bold;
    color: var(--text-color-main);
    padding-left: var(--spacing-size-half);
    padding-right: var(--spacing-size-half);
}
.BuscaInput input::placeholder {
    color: var(--text-color-faded);
}

.Busca .LinksUteis {
    text-align: center;
    margin-top: var(--spacing-size-main);
    font-size: var(--font-size-small);
}

.Busca .LinksDiretos a {
    color: var(--text-color-faded);
    text-decoration: none;
}
.Busca .LinksDiretos a:not(:last-of-type) {
    margin-right: var(--spacing-size-half);
}
.Busca .LinksDiretos a:not(:last-of-type)::after {
    margin-left: var(--spacing-size-half);
    content: "|";
}