.Header {
    padding: var(--spacing-size-main);
    display: flex;
    background-color: var(--background-color-light);
}

.Header > * {
    align-self: center;
}

.Header .EscolherSite {
    display: inline-block;
    font-size: var(--font-size-tiny);
    color: var(--text-color-faded);
    font-weight: bold;
    text-transform: uppercase;
}

.Header .Ico.Ico-Trocar {
    margin: 0px var(--spacing-size-half) -2px;
}

.Header .Menu {
    flex-grow: 1;
    text-align: right;
}