.Home {
    background-color: var(--background-color-dark);
}
.Home section {
    padding: var(--spacing-size-main);
    color: var(--text-color-reverse);
}
.Home .Cabecalho {
    color: var(--text-color-main);
    background-color: var(--background-color-light);
    border-bottom-left-radius: var(--border-radius-sections);
    border-bottom-right-radius: var(--border-radius-sections);
}

.Home h1.TituloPrincipal {
    margin-top: calc(var(--spacing-size-main) * 6);
    margin-bottom: var(--spacing-size-main);
}

.Home .Busca {
    margin-top: calc(var(--spacing-size-main) * 5);
    margin-bottom: calc(var(--spacing-size-main) * 3);
}

.CardLink {
    font-size: var(--font-size-small);
    background-color: rgba(0,0,0,0.3);
    display: block;
    border-radius: var(--border-radius-pills);
    height: 50px;
    display: flex;
    align-items: center;
    line-height: 1.25;
    color: var(--text-color-reverse);
    text-decoration: none;
    padding: var(--spacing-size-main);
}

.CardLink:not(:last-of-type) {
    margin-bottom: var(--spacing-size-main);
}

.CriarConta {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    max-width: 240px;
    margin: 0 auto;
}

.CriarConta ul {
    padding: var(--spacing-size-main);
    max-width: 240px;
    align-self: center;
}

.CriarConta ul li {
    padding-left: var(--spacing-size-half);
    position: relative;
    padding-bottom: var(--spacing-size-main);
}

.CriarConta ul li::before {
    content: "✔";
    position: absolute;
    left: calc(-1*var(--spacing-size-half));
}