.Footer {
    padding: var(--spacing-size-main);
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-light);
    border-top: 3px solid var(--text-color-main);
}

.Footer > * {
    align-self: center;
}

.Footer .LogoFooter {
    margin: var(--spacing-size-main) 0;
}

.Footer a {
    margin-bottom: var(--spacing-size-half);
    color: var(--text-color-main);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-small);
}

.Footer .Disclaimer {
    margin: var(--spacing-size-main);
    margin-bottom: 0;
    font-size: var(--font-size-tiny);
    color: var(--text-color-faded);
    text-align: center;
    line-height: 1.25;
}