.Norma {
    text-align: justify;
    padding: var(--spacing-size-main);
}

.Norma .Epigrafe {
    font-weight: bold;
    text-align: center;
    font-size: var(--font-size-subtitle);
}

.Norma .EpigrafeSubtitulo {
    color: var(--text-color-faded);
    text-align: center;
    font-size: var(--font-size-small);
    padding: var(--spacing-size-half);
}

.Norma .Relevante {
    position: relative;
}

.Norma .Relevante img {
    width: 100%;
    border-radius: var(--border-radius-relevantes);
}

.Norma .Relevante .RelevanteNome {
    left: var(--spacing-size-half);
    bottom: var(--spacing-size-half);
    position: absolute;
    color: var(--text-color-reverse);
}

.Norma .Categorias {
    overflow: auto;
    white-space: nowrap;
    padding: var(--spacing-size-main) 0px;
}

.Norma .Categorias a {
    text-decoration: none;
}

.Norma .Ementa {
    margin: var(--spacing-size-main) 0;
    text-align: center;
}

.Status {
    text-align: center;
}

.StatusNorma {
    color: var(--text-color-reverse);
    font-size: var(--font-size-small);
    background-color: var(--background-color-grey);
    display: inline-block;
    padding: var(--spacing-size-half) calc(var(--spacing-size-half) * 2);
    border-radius: var(--border-radius-pills);
    font-weight: bold;
    margin: var(--spacing-size-half) auto var(--spacing-size-main);
    background-color: var(--background-color-grey);
}

.StatusNorma.StatusEmVigor {
    color: var(--text-color-reverse);
    background-color: var(--background-color-success);
}

.Norma .AtosVinculados {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 0 var(--spacing-size-main);
}

.Norma .AtosVinculados .BotaoVinculados {
    display: inline-block;
}

.Norma .TextoDaLei {
    padding: var(--spacing-size-main) 0;
}

.Norma .TextoDaLei .Titulozinho {
    margin-bottom: var(--spacing-size-half);
}