.BuscaResultados {
    text-align: justify;
    padding: var(--spacing-size-main);
    display: flex;
    flex-direction: column;
}

.ResultadosNumero {
    color: var(--text-color-faded);
}

.TermoPesquisa {
    font-weight: bold;
    font-size: var(--font-size-subtitle);
    margin-top: var(--spacing-size-half);
}